body {
  width: 100%;
  font-family: Helvetica;
}
.cards {
  display: inline-block;
  height: 40px;
  margin: 10px;
}
.card {
  display: inline-block;
  width: 30px;
  height: 40px;
  margin-right: 10px;
  text-align: center;
  background-color: #333;
}
.card .card-title {
  color: #fff;
  font-size: 17px;
  line-height: 40px;
}
.card.big {
  width: 50px;
  height: 60px;
}
.card.big .card-title {
  line-height: 60px;
}
.card.red {
  background-color: #ea5550;
}
.card.blue {
  background-color: #4496d3;
}
.card.green {
  background-color: #65ab31;
}
.card.yellow {
  background-color: #fcc800;
}
.user.active .user-name {
  color: #f00;
}
.user.finished .user-name {
  color: #00f;
}
.user.skipped {
  opacity: 0.6;
}
.user .user-stat .remaining-skip::before {
  content: "(";
}
.user .user-stat .remaining-skip::after {
  content: ")";
}
#setup {
  margin-bottom: 10px;
}
#setup .setup-user-name {
  margin-right: 10px;
}
