<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>ino</title>
  <link href="index.css" rel="stylesheet">
</head>
<body>
  <div id="game">
    <div id="setup">
      名前: <span v-for="userName in setupData.userNames" class="setup-user-name">{{ userName }}</span>
      <input type="text" v-model="newUserName">
      <button class="add-user" @click="addUser">追加</button><br>
      初期カード枚数 <input type="number" v-model="setupData.numberOfCards">
      <button class="start-game" @click="startGame()">ゲームスタート</button>
    </div>

    <div id="users">
      <div class="user" v-for="(userName, user) in users" v-bind:class="{'active': isActiveUser(userName), 'finished': user.finished}">
        <div class="user-name">{{ userName }}</div>
        <div class="cards" v-if="!user.finished">
          <!-- card要素にv-ifをつけると、card要素がx-templateで置き換えられた後でv-elseのcard要素が来るが、
               置換されたためv-ifが直前にいないので、無視されてしまう -->
          <!-- v-ifはv-forとv-ifが入ったtemplate要素自身を操作するから、v-forとv-ifを同じtemplateにつけると、
               1つ目のcardにv-ifがtrueを返した場合、その後のcardも表示される
               1つ目のcardにv-ifがfalseを返した場合、その後のcardも表示されなくなる -->
          <template v-for="card in user.handCards">
            <template v-if="canDiscard(userName, card)">
              <card :card="card" @click="onClickedHandCard(card)"></card>
            </template>
          </template>
          <template v-for="card in user.handCards">
            <template v-if="!canDiscard(userName, card)">
              <card :card="card"></card>
            </template>
          </template>
<!--           <template v-for="card in user.handCards" v-if="!canDiscard(userName, card)">
    <card :card="card"></card> activeでないユーザーはカードを捨てられない
</template> -->
        </div>
        <div class="action" v-if="!user.finished">
          <button class="draw" v-if="shouldDraw(userName)" @click="draw(userName, 1)">1枚引く</button>
        </div>
      </div>
    </div>
    <div id="discard-area">
      <card :card="lastDiscardCard" class="big"></card>
    </div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.18/vue.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.6.1/lodash.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.min.js"></script>

  <script id="card" type="text/x-template">
    <div class="card {{ card.color }} {{ card.number }}">
      <span class="card-title">{{ card.number }}</span>
    </div>
  </script>

  <script type="text/javascript">
    Vue.component("card", {
      template: "#card",
      props: ["card"]
    })

    var vm = new Vue({
      el: "#game",
      data: {
        setupData: {
          userNames: [],
          numberOfCards: 4
        },
        cards: [
          { color: "red", number: 1 },
          { color: "red", number: 2 },
          { color: "red", number: 3 },
          { color: "red", number: 4 },
          { color: "red", number: 5 },
          { color: "red", number: 6 },
          { color: "red", number: 7 },
          { color: "red", number: 8 },
          { color: "red", number: 9 },
          { color: "red", number: 0 },
          { color: "blue", number: 1 },
          { color: "blue", number: 2 },
          { color: "blue", number: 3 },
          { color: "blue", number: 4 },
          { color: "blue", number: 5 },
          { color: "blue", number: 6 },
          { color: "blue", number: 7 },
          { color: "blue", number: 8 },
          { color: "blue", number: 9 },
          { color: "blue", number: 0 },
          { color: "yellow", number: 1 },
          { color: "yellow", number: 2 },
          { color: "yellow", number: 3 },
          { color: "yellow", number: 4 },
          { color: "yellow", number: 5 },
          { color: "yellow", number: 6 },
          { color: "yellow", number: 7 },
          { color: "yellow", number: 8 },
          { color: "yellow", number: 9 },
          { color: "yellow", number: 0 },
          { color: "green", number: 1 },
          { color: "green", number: 2 },
          { color: "green", number: 3 },
          { color: "green", number: 4 },
          { color: "green", number: 5 },
          { color: "green", number: 6 },
          { color: "green", number: 7 },
          { color: "green", number: 8 },
          { color: "green", number: 9 },
          { color: "green", number: 0 },
        ],
        drawCards: [], // 後ろに行くほど上
        discardCards: [],
        users: {}, // { "username": { handCards: [] } }
        activeUserIndex: 0 // ターンが回っているuser
      },
      created: function() {

      },
      computed: {
        userNames: function() {
          return _.keys(this.users)
        },
        activeUser: function() {
          return this.userNames[this.activeUserIndex % this.userNames.length]
        },
        lastDiscardCard: function() {
          if (this.discardCards.length == 0) {
            return "None"
          }

          return _.last(this.discardCards)
        },
        allUserFinished: function() {
          return !_.find(this.users, function(user) { return !user.finished }) // !finishedなユーザがいるか確認
        }
      },
      methods: {
        addUser: function() {
          this.setupData.userNames.push(this.newUserName)
          this.newUserName = ""
        },
        startGame: function() {
          this.setup(this.setupData.userNames, this.setupData.numberOfCards)
        },
        setup: function(userNames, numberOfCards) {
          var self = this

          this.discardCards = []
          this.activeUserIndex = 0

          _.each(userNames, function(userName) { // user setup
            self.users[userName] = {
              handCards: [],
              finished: false
            }
          })

          this.drawCards = _.shuffle(this.cards)

          _.each(this.users, function(user, userName){
            self.draw(userName, numberOfCards)
          })

          this.users = _.cloneDeep(this.users) //  まるごと入れ替えないと、Vueは検知できない(this.discard()参照)
          this.drawCards = _.cloneDeep(this.drawCards)
        },
        draw: function(userName, amount) {
          var self = this
          _.times(amount, function(n) {
            if (self.drawCards.length === 0) { self.chargeDrawCards() } // drawCardsが尽きたら
            self.users[userName].handCards.push( self.drawCards.pop() )
          })
        },
        discard: function(userName, card) {
          var a = _.cloneDeep(this.users) // objectはデフォルトで参照渡しだから、deep copy (lodashのみ, underscoreに無い)
          a[userName].handCards =  _.without(this.users[userName].handCards, card) // card削除
          this.users = a // users(vm.data直下のobject)をまるごと入れ替えないと、Vueは検知できずにViewにhandCardsが反映されないみたい
          // vm.$set("users", a) いらなかった https://vuejs.org/guide/reactivity.html

          this.discardCards.push(card)
        },
        chargeDrawCards: function() {
          this.drawCards = this.discardCards
          this.discardCards = []
        },
        finishUser: function(userName) {
          alert(userName + "があがりました")
          this.users[userName].finished = true
        },
        turn: function() {
          this.activeUserIndex++
          if (this.users[this.activeUser].finished) { this.turn() }
        },
        endGame: function() {
          alert("ゲームが終わりました。再開します。")
          this.setup(this.setupData.userNames, this.setupData.numberOfCards)
        },
        isActiveUser: function(userName) {
          return this.activeUser === userName
        },
        isDiscardable: function(card) { // 命名に悩む
          if (this.lastDiscardCard.number === card.number ||
              this.lastDiscardCard.color  === card.color  ||
              this.lastDiscardCard === "None") {
            return true
          }

          return false
        },
        canDiscard: function(userName, card) { // 命名に悩む
          return this.isActiveUser(userName) && this.isDiscardable(card)
        },
        shouldDraw: function(userName) { // カードを引くべきか
          var self = this
          var discardables = _.find(this.users[userName].handCards, function(card) {
            return self.isDiscardable(card)
          })

          return discardables === undefined && this.isActiveUser(userName)
        },
        checkFinish: function(userName) {
          if (this.users[userName].handCards.length === 0) { this.finishUser(userName) }
        },
        onClickedHandCard: function(card) {
          this.discard(this.activeUser, card)
          this.checkFinish(this.activeUser)
          if (this.allUserFinished) {
            this.endGame()
          } else {
            this.turn()
          }
        }
      }
    });
  </script>
</body>
</html>
