<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>ino</title>
  <link href="index.css" rel="stylesheet">
</head>
<body>
  <div id="game">
    <div id="setup">
      名前: <span v-for="userName in setupData.userNames" class="setup-user-name">{{ userName }}</span>
      <input type="text" v-model="newUserName">
      <button class="add-user" @click="addUser">追加</button><br>
      初期カード枚数 <input type="number" v-model="setupData.numberOfCards">
      <button class="start-game" @click="startGame()">ゲームスタート</button>
    </div>

    <div id="users">
      <div class="user" v-for="(userName, user) in users" v-bind:class="{'active': isActiveUser(userName), 'finished': user.finished}">
        <div class="user-name">{{ userName }}</div>
        <div class="cards" v-if="!user.finished">
          <!-- card要素にv-ifをつけると、card要素がx-templateで置き換えられた後でv-elseのcard要素が来るが、
               置換されたためv-ifが直前にいないので、無視されてしまう -->
          <!-- v-ifはv-forとv-ifが入ったtemplate要素自身を操作するから、v-forとv-ifを同じtemplateにつけると、
               1つ目のcardにv-ifがtrueを返した場合、その後のcardも表示される
               1つ目のcardにv-ifがfalseを返した場合、その後のcardも表示されなくなる -->
          <template v-for="card in user.handCards">
            <template v-if="canDiscard(userName, card)">
              <card :card="card" @click="onClickedHandCard(card)"></card>
            </template>
          </template>
          <template v-for="card in user.handCards">
            <template v-if="!canDiscard(userName, card)">
              <card :card="card"></card>
            </template>
          </template>
<!--           <template v-for="card in user.handCards" v-if="!canDiscard(userName, card)">
    <card :card="card"></card> activeでないユーザーはカードを捨てられない
</template> -->
        </div>
        <div class="action" v-if="!user.finished">
          <button class="draw" v-if="shouldDraw(userName)" @click="draw(userName, 1)">1枚引く</button>
          <div class="wild" v-if="isSelectingColor(userName)">
            <button data-color="red">赤</button>
            <button data-color="blue">青</button>
            <button data-color="yellow">黄</button>
            <button data-color="green">緑</button>
          </div>
        </div>
      </div>
    </div>
    <div id="info-area">
      <card :card="lastDiscardCard" class="big"></card>
      <span v-model="direction"></span>
    </div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.18/vue.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.6.1/lodash.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.min.js"></script>

  <script id="card" type="text/x-template">
    <div class="card {{ card.color }} {{ card.number }} {{ card.type }}">
      <span class="card-title">{{ card | shorter }}</span>
    </div>
  </script>

  <script type="text/javascript">
    Vue.component("card", {
      template: "#card",
      props: ["card"]
    })

    var vm = new Vue({
      el: "#game",
      data: {
        setupData: {
          userNames: [],
          numberOfCards: 4
        },
        cardTypes: {
          "reverse": {
            shortName: "R",
            effect: function(resolve) { // this.effectCard()に渡されるPromiseのresolve
              vm.reverse()
              resolve()
            }
          },
          "skip": {
            shortName: "⛔",
            effect: function(resolve) {
              vm.skip(vm.activeUserName, 1)
              resolve()
            }
          },
          "wild": {
            shortName: "W",
            effect: function(resolve) {
              vm.selectingColor = vm.activeUserName
              $(document).on("click", ".wild > button", function(event){
                var a = _.cloneDeep(vm.lastDiscardCard) // this.discard()と同じ
                a.color = $(event.target).data("color")
                vm.discardCards.push( a )

                resolve()
                vm.selectingColor = false
              })
            }
          },
        },
        cards: [
          { color: "red", number: 1 },
          { color: "red", number: 2 },
          { color: "red", number: 3 },
          { color: "red", number: 4 },
          { color: "red", number: 5 },
          { color: "red", number: 6 },
          { color: "red", number: 7 },
          { color: "red", number: 8 },
          { color: "red", number: 9 },
          { color: "red", number: 0 },
          { color: "blue", number: 1 },
          { color: "blue", number: 2 },
          { color: "blue", number: 3 },
          { color: "blue", number: 4 },
          { color: "blue", number: 5 },
          { color: "blue", number: 6 },
          { color: "blue", number: 7 },
          { color: "blue", number: 8 },
          { color: "blue", number: 9 },
          { color: "blue", number: 0 },
          { color: "yellow", number: 1 },
          { color: "yellow", number: 2 },
          { color: "yellow", number: 3 },
          { color: "yellow", number: 4 },
          { color: "yellow", number: 5 },
          { color: "yellow", number: 6 },
          { color: "yellow", number: 7 },
          { color: "yellow", number: 8 },
          { color: "yellow", number: 9 },
          { color: "yellow", number: 0 },
          { color: "green", number: 1 },
          { color: "green", number: 2 },
          { color: "green", number: 3 },
          { color: "green", number: 4 },
          { color: "green", number: 5 },
          { color: "green", number: 6 },
          { color: "green", number: 7 },
          { color: "green", number: 8 },
          { color: "green", number: 9 },
          { color: "green", number: 0 },
          { color: "red", type: "reverse" },
          { color: "blue", type: "reverse" },
          { color: "yellow", type: "reverse" },
          { color: "green", type: "reverse" },
          { color: "red", type: "reverse" },
          { color: "blue", type: "reverse" },
          { color: "yellow", type: "reverse" },
          { color: "green", type: "reverse" },
          { type: "wild" },
          { type: "wild" },
          { type: "wild" },
          { type: "wild" },
          { type: "wild" },
          { type: "wild" },
          { type: "wild" },
          { type: "wild" },
          { type: "skip", color: "red" },
          { type: "skip", color: "blue" },
          { type: "skip", color: "yellow" },
          { type: "skip", color: "green" },
          { type: "skip", color: "red" },
          { type: "skip", color: "blue" },
          { type: "skip", color: "yellow" },
          { type: "skip", color: "green" },
        ],
        drawCards: [], // 後ろに行くほど上
        discardCards: [],
        users: {},
        activeUserIndex: 0, // ターンが回っているuser
        direction: +1,
        selectingColor: false,
      },
      created: function() {

      },
      computed: {
        userNames: function() {
          return _.keys(this.users)
        },
        activeUserName: function() {
          return this.userNames[this.activeUserIndex] // もともとは activeUserIndex % userNames.length
        },
        activeUser: function() {
          return this.users[this.activeUserName]
        },
        nextUserName: function() {
          return this.userNames[this.nextUserIndex]
        },
        nextUser: function() {
          return this.users[this.nextUserName]
        },
        nextUserIndex: function() { // より良くしたい(this.userNamesを循環リストにできたら...)
          var next = this.activeUserIndex + this.direction // 方向に合わせて1人ずらす

          if (next < 0) { // マイナスにするとめんどくさい
            next = this.userNames.length - 1 // lengthが3とすると、0から2になる
          } else if (next >= this.userNames.length) { // lengthが3とすると、2から0にする
            next = 0
          }

          return next
        },
        lastDiscardCard: function() {
          if (this.discardCards.length == 0) {
            return "None"
          }

          return _.last(this.discardCards)
        },
        allUserFinished: function() {
          return !_.find(this.users, function(user) { return !user.finished }) // !finishedなユーザがいるか確認
        },
      },
      methods: {
        addUser: function() {
          this.setupData.userNames.push(this.newUserName)
          this.newUserName = ""
        },
        startGame: function() {
          this.setup(this.setupData.userNames, this.setupData.numberOfCards)
        },
        setup: function(userNames, numberOfCards) {
          var self = this

          this.discardCards = []
          this.activeUserIndex = 0
          this.selectingColor = false
          this.direction = +1
          this.chargeDrawCards()

          _.each(userNames, function(userName) { // user setup
            self.users[userName] = {
              handCards: [],
              finished: false,
              remainingSkip: 0,
            }
          })

          _.each(this.users, function(user, userName){
            self.draw(userName, numberOfCards)
          })

          this.users = _.cloneDeep(this.users) //  まるごと入れ替えないと、Vueは検知できない(this.discard()参照)
          this.drawCards = _.cloneDeep(this.drawCards)
        },
        draw: function(userName, amount) {
          var self = this
          _.times(amount, function(n) {
            if (self.drawCards.length === 0) { self.chargeDrawCards() } // drawCardsが尽きたら
            self.users[userName].handCards.push( self.drawCards.pop() )
          })
        },
        discard: function(userName, card) {
          var a = _.cloneDeep(this.users) // objectはデフォルトで参照渡しだから、deep copy (lodashのみ, underscoreに無い)
          a[userName].handCards =  _.without(this.users[userName].handCards, card) // card削除
          this.users = a // users(vm.data直下のobject)をまるごと入れ替えないと、Vueは検知できずにViewにhandCardsが反映されないみたい
          // vm.$set("users", a) いらなかった https://vuejs.org/guide/reactivity.html

          this.discardCards.push(card)
        },
        effectCard: function(card) {
          var self = this

          // see: http://qiita.com/koki_cheese/items/c559da338a3d307c9d88
          // ユーザーの操作を待つ
          return new Promise(function(resolve, reject){
            if (card.type) {
              self.cardTypes[card.type].effect(resolve)
            } else {
              resolve()
            }
          })
        },
        reverse: function() {
          this.direction *= -1 // 方向逆転
        },
        skip: function(userName, times) {
          this.nextUser.remainingSkip += times
        },
        chargeDrawCards: function() {
          this.drawCards = _.shuffle(this.cards)
          this.discardCards = []
        },
        finishUser: function(userName) {
          alert(userName + "があがりました")
          this.users[userName].finished = true
        },
        turn: function() {
          this.activeUserIndex = this.nextUserIndex

          if (this.activeUser.finished) { this.turn() }
          if (this.activeUser.remainingSkip > 0) {
            this.activeUser.remainingSkip--
            this.turn()
          }
        },
        endGame: function() {
          alert("ゲームが終わりました。再開します。")
          this.setup(this.setupData.userNames, this.setupData.numberOfCards)
        },
        isActiveUser: function(userName) {
          return this.activeUserName === userName
        },
        isDiscardable: function(card) { // 命名に悩む
          // number === undefinedだが、number === numberなケース: lastDiscardCardがWild, cardがReverseとか。これは弾く
          // type === undefinedだが、type === typeなケース: lastDiscardCardが普通のnumber, cardがこれまた普通のnumber
          if ((card.number !== undefined && this.lastDiscardCard.number === card.number) ||
              (card.color  !== undefined && this.lastDiscardCard.color  === card.color)  ||
              (card.type   !== undefined && this.lastDiscardCard.type   === card.type)   ||
              this.lastDiscardCard === "None" ||
              this.lastDiscardCard.color === undefined ||
              card.color === undefined) {
            return true
          }

          return false
        },
        canDiscard: function(userName, card) { // 命名に悩む
          // ターンが回っている && カードが捨てられる && Wild色選択中でない
          return this.isActiveUser(userName) && this.isDiscardable(card) && !this.selectingColor
        },
        shouldDraw: function(userName) { // カードを引くべきか
          return this.discardables(userName) === undefined && this.isActiveUser(userName) && !this.selectingColor
        },
        discardables: function(userName) {
          return _.filter(this.users[userName].handCards, function(card) {
            return vm.isDiscardable(card)
          })
        },
        isSelectingColor: function(userName) {
          return this.selectingColor === userName
        },
        checkFinish: function(userName) {
          if (this.users[userName].handCards.length === 0) { this.finishUser(userName) }
        },
        shortCardName: function(card) {
          if (card.type) {
            return this.cardTypes[card.type].shortName
          }

          return card.number
        },
        onClickedHandCard: function(card) {
          var self = this

          this.discard(this.activeUserName, card) // 捨ててから効果発動
          this.effectCard(card)
            .then(function(){
              self.checkFinish(self.activeUserName)
              if (self.allUserFinished) {
                self.endGame()
              } else {
                if (self.discardables(self.activeUserName).length === 0) {
                  self.turn()
                }
              }
            })
        }
      }
    })

    Vue.filter("shorter", function(card){ // {{ Mustache }}の中でthis.~~といったメソッドは動かせない
      return vm.shortCardName(card)
    })
  </script>
</body>
</html>
